body {
  background-color: rgb(202, 220, 226);
  width: 80%;
  margin: 0 auto;
}
#header, #footerid{
background-color: rgb(172, 207, 186);
/* border:thick; */
}
#footerid{
margin: 5px;
padding: 5px;
text-align: center;
}

#headerimg{
display: flex;
width: 30%;
}


.images {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
 .image {
  display:flex;
  width: 32%;
  border-radius: 5px;
  padding:5px;
}

div h4 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Itim', Arial, sans-serif ;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Itim', Arial, sans-serif ;
}

#location{
  width: 100px;
  height: 100px;
   float: right;
   color: rgb(96, 133, 202);
}
#familyimg{
  width: 60%;
  height: 60%;
}
.two-column {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  height:  400px;
}

.two-column section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.two-column section h2 {
  font-size: larger;
}
.two-column section p {
  overflow-y: scroll;
}
h1{
  font-style: italic;
  font-size: 40px;
  color: salmon;
  text-align: center;
  margin-top: 20px;
}

th {
  margin: 20px;
  padding: 20px;
  border: solid 2px black;
  background-color: rgb(211, 170, 153);

}
td{
  border: solid 2px black ;
  margin: 10px;
  padding: 10px;
}

fieldset {
  border: 5px solid rgb(211, 170, 153);
  padding: 20px;
  margin-bottom: 10px;
  float: right;
  margin: 15px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

input[type=text] {
  width: 20%;
  margin-right: 100px;
  border-radius: 4px;
}

input[type=number] {
  width: 20%;
  margin-right: 100px;
  border-radius: 4px;
}
#salesFigures{
  display:flex;
  margin-left:auto;
  flex-direction: column;
  
}

button {
  background-color: #000;
  color: white;
  font-size: 15px;
  text-align: center;
}

button:hover{
  background-color: rgb(211, 170, 153);
  transition-duration: 0.35s;
}